.home-page-container {
  position: relative;
  bottom: 0;
  height: 90%;
  width: 100%;
  left: 20px;
  overflow-y: scroll;
}

.home-page-project-container {
  position: relative;
  left: 0;
  width: 95%;
  height: 300px;
  overflow-y: scroll;
}
